<div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
            <li>
              <a href="#">One</a>
              <ul class="menu vertical">
                <li><a href="#">One</a></li>
                <li><a href="#">Two</a></li>
                <li><a href="#">Three</a></li>
              </ul>
            </li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          </ul>
        </div>
        <div class="top-bar-right">
         
        </div>
      </div>

<h1>home page aka login</h1>
<h2>{{ test }}</h2>


{{data}}



<a href="/auth" class="login"><input type="submit" value="Log In"></a>
<a class="transition" ui-sref="collection"><span>Collection</span></a>
<button ng-click="sessiontest()">you</button>
<!-- <button ui-sref='collection'>Collection</button> -->



