<!-- <div class="top-bar">
        <div class="top-bar-left">
          <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text">Site Title</li>
           
            
          </ul>
        </div>
        <div class="top-bar-right">
            <a href="/auth" class="login"><input type="button" class="button" value="Log In"></a>
        </div>
      </div> -->
<section class="show-for-large">
  <header class="panel bang">
    <div style="height: 2em"></div>
    <!-- <h1>this is for css alignment</h1> -->
    <h2 class="bang akew text-center show-for-large" style="font-size: 7em;">collectz</h2>
    <h2 class="bang akew text-center hide-for-large">collectz</h2>
    <!-- <p>also for css alignment</p> -->
    <div style="    width: 100%;
        margin-top: 20em;"></div>
    <!-- <img src="./external/001-speech-bubble.png" style="color: white;" alt=""> -->
    <div class="center">
      <div class="loginBox">
        <div class="row align-center">
          <a class="login" href="/auth">Login</a>
        </div>
      </div>
    </div>
    {{data}}
  </header>
</section>
<section class="hide-for-large">
  <header class="panel bang">
    <div style="height: 2em"></div>
    <!-- <h1>this is for css alignment</h1> -->
    <h2 class="bang akew text-center show-for-large" style="font-size: 7em;">collectz</h2>
    <h2 class="bang akew text-center hide-for-large">collectz</h2>
    <!-- <p>also for css alignment</p> -->
    <div style="    width: 100%;
margin-top: 20em;"></div>
    <!-- <img src="./external/001-speech-bubble.png" style="color: white;" alt=""> -->
    <div class="row align-center">
      <a class="login" href="/auth">Login</a>
    </div>

    {{data}}
  </header>
</section>

<!-- <a href="/auth" class="login"><input type="button" class="button" value="Log In"></a>
<a class="transition" ui-sref="collection"><span>Collection</span></a>
<button ng-click="sessiontest()">you</button> -->
<!-- <button ui-sref='collection'>Collection</button> -->