<div>Search</div>




<form name="formuser" ng-submit="submit(searchBook)">
    Enter text here
    <input type="text" ng-model="searchBook.name" />
    <input type="text" ng-model="searchBook.person_credits">
    
    <button type="submit">Submit</button>
</form>
<section class="paginate">
    <div dir-paginate="book in comicbook | itemsPerPage: booksPerPage" total-items"totalBooks" current-page="pagination.current">
        <div>Issue #{{book.issue_number}}</div>
        <img ng-src="{{ book.image.medium_url }}" alt="{{book.name}}">
    </div>

    <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
</section>


<button ui-sref="collection">Collection</button>

<div ng-repeat="book in comicbook">
    <div>
        Issue #{{book.issue_number}}
    </div>

    <a ng-click="store(book)">
        <img ng-src="{{ book.image.medium_url }}" alt="{{book.name}}">
    </a>
</div>

<div>{{ test }}</div>

