<nav class="top-bar" data-topbar>
    <div class="top-bar-left">
        <ul class="dropdown menu" data-drop-menu>
            <li class="bang">Title goes here</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu horizontal flex-end">

            <li><a ui-sref="search" class="happy fwhite">Search</a></li>
            <li><a ui-sref="profile" class="happy fwhite">Profile</a></li>
            <li><button class="warning button" ng-click="logout()">Logout</button></li>
        </ul>
    </div>
</nav>



<section class="comicC">
    <div class="center">
    <div class="collectionBlock">
        <h1 class="text-center happy collectionPOS">Collection</h1>
    </div>
    </div>

    <div class="wrap">
        <!-- SHOW LARGE -->
        <div dir-paginate="book in comicbook | itemsPerPage: 7 as postItems" class="wrapper show-for-large">
            <div class="cover">
                <img width="400px" ng-src="{{ book.img_med }}" alt="">
            </div>
            <div class="descrption">
                <div class="comic-start-block scroll">
                    <p ng-bind-html="book.description" class="text-center happy top"></p>
                </div>
                <div class="comic-block"></div>
            </div>
            <div> <button ng-click="removeBook(book)" class="button removebutton"></button></div>
            <div class="name">
                <div class="text-center stat bang">{{book.name}}</div>
            </div>
            <div class="issueNumber">
                <div class="text-center x-large bang">
                    #{{ book.issue_number }}
                </div>
            </div>
        </div>

    </div>

    <!-- SHOW SMALL -->
    <section class="button expanded hide-for-large">
        <div dir-paginate="book in comicbook | itemsPerPage: 7 as postItems">
            <div class="happy">{{ book.name }} #{{book.issue_number}}</div>

            <div><img ng-src="{{ book.img_med }}" alt=""></div>
            <section>
                <div>
                    <p><button class="secondary button expanded" ng-click="show = !show">Click me for description</button></p>
                </div>
                <div class="descrp" ng-show="show">

                    <p ng-bind-html="book.description"></p>
                    <div><button ng-click="removeBook(book)" class="alert button expanded">Delete</button></div>
                </div>
            </section>
            <div class="reveal" id="exampleModal1" data-reveal ng-controller="searchCtrl">
                <p ng-bind-html="book.description"></p>
                <p>{{ book.description }}</p>
                <h1>Awesome. I Have It.</h1>
                <p class="lead">Your couch. It is mine.</p>
                <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>


            <hr>
        </div>


    <!-- DESKTOP -->
    </section>
    <section class="center show-for-large">
            <!-- <div class="bubble"><img src="./external/Speech-Bubble.png" alt=""></div> -->
            <div ng-if="postItems.length === 0">
        <div class="nothing" style="background-color:aliceblue">
                
                <div>
                    <span class="happy stat">No Items Found</span>
                </div>
                <div class="addB">
               
                    <button class=" happy" style="margin: 15%" ui-sref="search">Add stuff now</button>
                </div>
            </div>
        </div>
    </section> 

    <!-- MOBILE -->
    <section class="center hide-for-large">
            <!-- <div class="bubble"><img src="./external/Speech-Bubble.png" alt=""></div> -->
        <div class="nothing" style="background-color:aliceblue">
            <div class="center" ng-if="postItems.length === 0">
                
                <div>
                    <span class="happy">No Items Found</span>
                </div>
                <div class="addMobile">
               
                    <button class="button happy" ui-sref="search">Add stuff now</button>
                </div>
            </div>
        </div>
    </section> 
    <dir-pagination-controls></dir-pagination-controls>
    {{test}}

</section>




<!-- <script src="./foundation/js/vendor/jquery.js"></script>
<script src="./foundation/js/vendor/what-input.js"></script>
<script src="./foundation/js/vendor/foundation.js"></script> -->
<script>
    $(document).foundation();
</script>